language: java
sudo: false
jdk:
  - oraclejdk8
install:
  - |
      export ECLIPSE_TAR=eclipse.tar.gz
      export ECLIPSE_URL=http://archive.eclipse.org/eclipse/downloads/drops4/R-4.6.3-201703010400/eclipse-SDK-4.6.3-linux-gtk-x86_64.tar.gz
      wget ${ECLIPSE_URL} -O ${ECLIPSE_TAR}
      tar -C ${TRAVIS_BUILD_DIR}/.. -xzf ${ECLIPSE_TAR}
      export ECLIPSE_EXE=${TRAVIS_BUILD_DIR}/../eclipse/eclipse
script:
  - ant tests
  - ant eclipseformat
  - ant checkstyle
